/* LESS Document */


@lightgrey: #E2ECF1;
@mildgrey: #B1BABF;
@darkgrey: #6B7B84;
@masterblue: #063342;
@masterorange: #FFC20E;
@fontcolor: #353d42;

@import "animation.less";
@import "timeline.less";
@import "pushy.less";
@import "mobile-layout.less";

@font-face {
    font-family: 'Jirnexu';
    src: url('../fonts/jirnexu.eot?lruuvq');
    src: url('../fonts/jirnexu.eot?lruuvq#iefix') format('embedded-opentype'),
        url('../fonts/jirnexu.ttf?lruuvq') format('truetype'),
        url('../fonts/jirnexu.woff?lruuvq') format('woff'),
        url('../fonts/jirnexu.svg?lruuvq#jirnexu') format('svg');
    font-weight: normal;
    font-style: normal;
}

html * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 16px;
  color: @fontcolor;
}

main {
  line-height: 150%;
}

h1, h2, h3 {
  font-family: 'Raleway';
  font-weight: 500;
  text-align: center;
  line-height: 120%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
p, ul, dl, ol, span, small, address {
   font-family: Open Sans;
   font-weight: 300;
}
strong, b {
   font-family: Open Sans;
   font-weight: 500;
}
h1, h2 {
  color: #063342;
  margin-top: 0px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}

.container, section, article, div {
  display: block;
}

.container:after, .wrapper:after {
  content:"";
  display:block;
  clear: both;
}

.header .wrapper, .wrapper > article, .hero .masthead {
  width: 1200px;
  margin: auto;
}

.wrapper > article {
  padding: auto 2ex;
}
main .panel {
  padding-top: 55px;
  padding-bottom: 55px;
}
.header {
  width: 100%;
  padding: 10px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid @lightgrey;

  .brand {
    font-size: 0px;
    display: block;
    float: left;
  }
}

.header.shrink {
  padding: 10px 0;

  .brand img {
    width:80% ;
    transition: width 0.3s  ease;
  }
  nav ul li a {
    padding: 8px 10px;
    font-size: 0.9em;
   transition: all 0.3s  ease;
  }
}

.parallax-window {
  background: @masterblue;
}
.page-home .parallax-window {
  min-height: 700px;
  background: transparent !important;
}
.hero.parallax-window.mobile {
  display: none;
}
.page-contactus .parallax-window, .page-industry .parallax-window, .page-aboutus .parallax-window, {
  min-height: 250px !important;
  background: @masterblue;
}

.hero > div {
  display: flex;
  max-width: 600px;
  margin: auto;
  display: block;
  padding-top: 90px;
}

.hero img {
  width: 100%;
}
.page-contactus .hero div h2 {
  color: #B1BABF !important;
  display: inline-block;
  position: absolute;
  margin-top: 45px !important;
  margin-left: 20px;
  font-size: 1.2em;
}

.menu-btn {
  display: none;
}

/*panel intro*/

.panel-intro p, .panel-industry p, .panel-specialisation p {
  max-width: 750px;
  text-align: center;
  margin: 0px auto 1em;
  line-height: 160%;

}

.panel-story, .panel-industry {
  background: @lightgrey;
}

.wrapper.panel-brand {
  p {
   -moz-column-count: 2;
   -moz-column-gap: 30px;
   -webkit-column-count: 2;
   -webkit-column-gap: 30px;
  }
  ul {
    padding: 0px;
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 0px auto;
    max-width: 800px;

    li {
      text-align: center;
      width: 30%;

      a {
        border-radius: 4px;
        display: block;
        padding: 10px 0px;

        img {
          width: 80%;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          filter: gray;
          transition: all .6s ease;
          -webkit-transition: all .6s ease;
        }
      }
      a:hover img {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: none;
        transition: all .6s ease;
        -webkit-transition: all .6s ease;
      }
    }
  }
}

.footer {
  min-height: 200px;
  background: @lightgrey;
}

footer {
  background: @darkgrey;
  color: white;
  text-align:center;
  padding: .5em 0px;
  font-size: 0.85em;
  font-family: "Lato";
}

h1 + h3 {
  margin: 0px auto 10px !important;
}

a.cta {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #063342;
  border: 1px solid #063342;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
}
a.cta:hover {
  color: #fff;
  border: 1px solid #063342;
  background: #063342;
}

.panel-contact-us {

  .map {
    padding-top: 10px;
    margin-left: 4%;
  }

  article section {
    width: 48%;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;

    address {
      font-style: normal;
      margin: 10px 20px 30px;
    }

    ul.contact {
      list-style-type: none;
      padding: 0px;
      margin: 10px 20px 30px;

      li:before {
        font-family: "Jirnexu";
        display: block;
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 10px 0 0;
        color: @mildgrey;
      }
      li:hover:before {
        color: @masterblue;
        transition: color .1s ease;
      }
      li.email:before {
        content: "\e903";
      }
      li.tel:before {
        content: "\e901";
      }
      li.fax:before {
        content: "\e902";
      }
    }

    ul.social {
      list-style-type: none;
      padding: 0px;
      margin: 10px 20px 30px;

      li a:before {
        font-family: "Jirnexu";
        font-size: 1.2em;
        display: block;
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 20px 0 0;
        color: @mildgrey;
      }
      li:hover a:before {
        color: @darkgrey;
      }
      li.linkedin a:before {
        content: "\e900";
      }
      li.facebook a:before {
        content: "\e906";
      }
      li.twitter a:before {
        content: "\e905";
      }
      li.youtube a:before {
        content: "\e904";
      }
      li.instagram a:before {
        content: "\e908";
      }
      li.googleplus a:before {
        content: "\e907";
      }
    }
  }
}

.panel-what-we-do {
  ul {
    padding: 0px;
    padding-top: 10px;
    list-style-type: none;
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
   -moz-justify-content: space-between;
   -webkit-justify-content: space-between;

    li {
      width: 30%;
      text-align: center;

      i {
        display: block;
        width: 140px;
        background: @lightgrey;
        height: 140px;
        border-radius: 15%;
        margin: auto;
        text-align: center;

        img {
          width:  60% !important;
          margin-top: 20% !important;
        }
      }
    }
  }
}


.panel-story {
  .column-story1, .column-story2, .cd-container   {
    float:left !important;
    display: inline-block
  }
  .column-story1, .column-story2 {
    width: 30%;
    font-size: 0.85em;
  }
  .cd-container {
    margin: 0px 5%;
    width: 30% !important;
    float: left;
  }
}

.panel-industry {
  ul {
    padding: 0px;
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    max-width: 750px;
    margin: 30px auto;
    text-align: center;
    font-weight: 700;

    li {
      width: 25%;
    }

    li.banks:before {
      content: "";
      background: url('../icons/icon-banks.svg');
      display: block;
      width: 80px;
      height: 80px;
      bankground-repeat: non-repeat;
      margin: 0 auto 10px;
    }
    li.insurance:before {
      content: "";
      background: url('../icons/icon-insurance.svg');
      display: block;
      width: 80px;
      height: 80px;
      bankground-repeat: non-repeat;
      margin: 0 auto 10px;
    }
    li.telco:before {
      content: "";
      background: url('../icons/icon-telco.svg');
      display: block;
      width: 80px;
      height: 80px;
      bankground-repeat: non-repeat;
      background-size: cover;
      margin: 0 auto 10px;
    }
    li.e-commerce:before {
      content: "";
      background: url('../icons/icon-ecommerce.svg');
      display: block;
      width: 80px;
      height: 80px;
      bankground-repeat: non-repeat;
      background-size: contain;
      margin: 0 auto 10px;
    }
  }
}