@media all and (max-width: 1200px) {
  .header .wrapper, .wrapper > article {
    width: 94% !important;
    margin: auto;
  }
  .header .wrapper, .wrapper > article {
    width: 94%;
    margin: auto;
  }
  .panel-intro p, .panel-specialisation p {
    width: 80% !important;
  }
}

@media all and (max-width: 1026px) {
  .panel-story > article > section.story {
    display: inline-block;
    width: 100% !important;
    float: none !important;
    text-align: justify;
  }
  .panel-story > article > section.cd-container {
    display: inline-block;
    width: 100% !important;
    float: none !important;
  }
  .menu-btn {
    display: inline-block !important;
    float: right;
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: 300;
  }
}

@media all and (max-width: 1000px) {
  .hero.parallax-window.desktop {
    display: none !important;
    background: @masterblue;
  }
  .hero.parallax-window.mobile {
    display: block !important;
    background: @masterblue !important;
    min-height: 300px !important;
  }
}

@media all and (max-width: 760px) {
  .hero > div {
    width: 94% !important;
    margin: auto 2%;
    display: block;
    padding-top: 120px !important;
  }

  h1 {
    font-size: 1.5em !important;
  }
  h2 {
    font-size: 1.3em !important;
  }
  .panel-intro p, .panel-specialisation p, .panel-industry p {
    width: 100% !important;
    text-align: left !important;
  }
  .panel-industry p:last-child {
    width: 100% !important;
    text-align: center !important;
  }
  .brand {
    margin-left: 10px;
  }
  .panel-brand, .panel-what-we-do {
    ul {
      flex-direction: column !important;
    }
    ul  li {
      width: 100% !important;
    }
    ul  li img {
      width: 60% !important;
    }
  }
  .panel-industry {
    padding-bottom: 30px !important;
    ul {
      flex-direction: column !important;
      width: 80% !important;

      li.banks:before {
        background-size: cover !important;
        width: 40px !important;
        height: 40px !important;
        display: inline-block !important;
        margin-left: -60px !important;
        margin-right: 40px !important;
      }
      li.insurance:before {
        background-size: cover !important;
        width: 40px !important;
        height: 40px !important;
        display: inline-block !important;
        margin-left: -60px !important;
        margin-right: 40px !important;
      }
      li.telco:before {
        background-size: cover !important;
        width: 40px !important;
        height: 40px !important;
        display: inline-block !important;
        margin-left: -60px !important;
        margin-right: 40px !important;
      }
      li.e-commerce:before {
        background-size: cover !important;
        width: 40px !important;
        height: 40px !important;
        display: inline-block !important;
        margin-left: -60px !important;
        margin-right: 40px !important;
      }
      li {
        margin-bottom: 20px;
        text-align: left !important;
        border-left: 1px solid grey;
        margin-left: 60px;
        display: inline-flex;
        line-height: 250%;
        width: 80% !important;
      }
    }
  }
  .wrapper.panel-brand {
    p {
     -moz-column-count: 1 !important;
     -moz-column-gap: 0px !important;
     -webkit-column-count: 1 !important;
     -webkit-column-gap: 0px !important;
    }
  }
  .panel-contact-us {
    .map {
      padding-top: 0px !important;
      margin-left: 0% !important;
    }
    article section {
      width: 100% !important;
    }
  }
}