.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: url("../img/timeline-line.svg");
  background-repeat:repeat-y;
}
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
.cd-timeline-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: @masterorange;
  border: 3px solid white;
}
.cd-timeline-content {
  position: relative;
  margin-left: 40px;
  margin-top: 10px;
  width: 100%;

  h2 {
    text-align: left;
    font-size: 1em;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  img {
   background: white;
   padding: auto 5px;
  }

  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
/*
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
*/

.cd-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-timeline-content .cd-date {
  top: 8px;
  font-size: 1.2em !important;
  line-height: 100%;
}


 .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }


.cd-timeline-block {
  margin-left: 45%;
}

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background-repeat:repeat-y;
}

.cd-container > div:nth-child(odd) .cd-timeline-content {
  left: -120%;
}
.cd-container > div:nth-child(odd) .cd-timeline-content span {
  width: 100%;
  display: block;
  text-align: right;
}
.cd-timeline-content {
  margin-left: 40px;
}
.cd-container > div:nth-child(odd)  .cd-timeline-content h2, .cd-container > div:nth-child(odd)  .cd-timeline-content span {
    text-align: right!important;
    width: 100%;
}

.cd-timeline-content.tooltip p {
  z-index:10;
  display:none;
  padding:14px 20px;
  margin-top:-30px;
  margin-left:28px;
  width:300px;
  line-height:16px;
}

.cd-timeline-content.tooltip:hover p {
  display:inline;
  position:absolute;
  color:#111;
  border:1px solid #DCA;
  background:#fffAF0;
  index: 999;
}

.callout {
  z-index:20;
  position:absolute;
  top:30px;
  border:0;
  left:-12px;
}

.cd-timeline-content.tooltip p {
  border-radius:4px;
  line-height: 150%;
  box-shadow: 5px 5px 8px #CCC;
  background: #063342 !important;
  color: white !important;
}

.cd-timeline-content.tooltip p:before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #063342;
}

.cd-timeline-content:before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 4px solid #fff;
  background: @masterblue;
  position: absolute;
  margin-top: 2px;
  margin-left: -30px;
}

.cd-container > div:nth-child(odd) .cd-timeline-content:before {
  left: 120%;
}
.cd-timeline-content.tooltip p {
  z-index:10;
  display:none;
  padding: 14px 20px;
  top:18px;
  left: 100%;
  width:300px;
  line-height: 150%;
}

.cd-container > div:nth-child(even) .cd-timeline-content.tooltip p {
  top:18px;
  left: -195%;
  width:300px;
}

.cd-container > div:nth-child(even) .cd-timeline-content.tooltip p:before {
  content: '';
  position: absolute;
  top: 16px;
  right: -4%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid #063342;
}